<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todostudy.user.mapper.LoginLogMapper">
    <insert id="insertLog" parameterType="com.todostudy.user.dto.LoginLogDto">
        INSERT INTO t_lgn_logs (userId, lgnIpAddr, stats, regDate)
        VALUES (#{userId}, #{lgnIpAddr}, #{stats}, #{regDate})
    </insert>
</mapper>